# Dart/Flutter
.dart_tool/
.packages
build/
coverage/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/
*.iml

# devenv
.devenv/
.devenv.flake.nix
devenv.lock

# OS
.DS_Store
node_modules/
package-lock.json
